<section id="cost" class="cost mbox">
  <div class="title">
    <h2>СТОИМОСТЬ БЕТОНА БЕЗ ДОСТАВКИ</h2>
  </div>
  <div class="full-price">
    <a href="https://wwwimages2.adobe.com/content/dam/Adobe/en/devnet/pdf/pdfs/pdf_reference_archives/pdf_implementation.pdf" target="_blank">Полная версия прайса</a>
  </div>
  <ul class="price-slider js-slider">
    <li>
      <figure>
        <div class="type-pic">
          <img src="images/pentagon.png" alt="pentagon">
          <div class="type-num">
            <p>М100</p>
          </div>
          <div class="type-class">
            <p>В-7.5</p>
          </div>
        </div>
        <figcaption>2070 ₽/м³</figcaption>
      </figure>
      <div class="type-info">
        <p>Подготовительные бетонные работы, укладка тонкого слоя на уплотненный грунт или песчаную подушку</p>
      </div>
    </li>
    <li>
      <figure>
        <div class="type-pic">
          <img src="images/pentagon.png" alt="pentagon">
          <div class="type-num">
            <p>М150</p>
          </div>
          <div class="type-class">
            <p>В-7.5</p>
          </div>
        </div>
        <figcaption>2070 ₽/м³</figcaption>
      </figure>
      <div class="type-info">
        <p>Стяжка полов и бетонных тротуаров, заливки ленточных фундаментов, монолитных плит</p>
      </div>
    </li>
    <li>
      <figure>
        <div class="type-pic">
          <img src="images/pentagon.png" alt="pentagon">
          <div class="type-num">
            <p>М200</p>
          </div>
          <div class="type-class">
            <p>В-7.5</p>
          </div>
        </div>
        <figcaption>2070 ₽/м³</figcaption>
      </figure>
      <div class="type-info">
        <p>Фундаменты (ленточные, плиточные, свайно-ростверковые), изготовление бетонных лестниц, площадок</p>
      </div>
    </li>
    <li>
      <figure>
        <div class="type-pic">
          <img src="images/pentagon.png" alt="pentagon">
          <div class="type-num">
            <p>М250</p>
          </div>
          <div class="type-class">
            <p>В-7.5</p>
          </div>
        </div>
        <figcaption>2070 ₽/м³</figcaption>
      </figure>
      <div class="type-info">
        <p>Монолитные фундаменты, малонагруженных плиты перекрытия,  заборы, подпорные стены</p>
      </div>
    </li>
    <li>
      <figure>
        <div class="type-pic">
          <img src="images/pentagon.png" alt="pentagon">
          <div class="type-num">
            <p>test</p>
          </div>
          <div class="type-class">
            <p>В-7.5</p>
          </div>
        </div>
        <figcaption>2070 ₽/м³</figcaption>
      </figure>
      <div class="type-info">
        <p>Подготовительные бетонные работы, укладка тонкого слоя на уплотненный грунт или песчаную подушку</p>
      </div>
    </li>
  </ul>
  <div class="price-tooltip">
    <p>Стоимость доставки по городу Ижевск  пригороду 400 ₽/м³</p>
  </div>
</section>