<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer id="footer" class="footer">
  <div class="footer-inner mbox">
    <div class="footer-col">
      <div class="copyright">
        <p>© 2017 ФАБРИКА БЕТОНА</p>
      </div>
      <a href="https://wwwimages2.adobe.com/content/dam/Adobe/en/devnet/pdf/pdfs/pdf_reference_archives/pdf_implementation.pdf" target="_blank">Полная  версия прайса</a>
    </div>
    <div class="footer-col">
      <p>ИЖЕВСК</p>
      <p>ЛЕСОЗАВОДСКАЯ, Д. 27</p>
    </div>
    <div class="footer-col">
      <a href="mailto:info@fabrika-betona.ru">info@fabrika-betona.ru</a>
    </div>
    <div class="footer-col">
      <a href="tel:79655857013">+7 965 585-70-13</a>
    </div>
  </div>
</footer>
<!-- /FOOTER -->
