<!-- HEADER -->
<header class="header">
  <div class="mbox">
    <div class="header-inner">
      <a href="index.html" class="header-logo">
        <img src="images/logo.png" alt="logo">
      </a>
      <ul class="navigation">
        <li><a href="#order">ГЛАВНАЯ</a></li>
        <li><a href="#cost">ПРАЙС</a></li>
        <li><a href="#about">О НАС</a></li>
        <li><a href="#stock">АКЦИИ</a></li>
        <li><a href="#footer">КОНТАКТЫ</a></li>
      </ul>
      <div class="burger">
        <div class="burger-brick"></div>
        <div class="burger-brick middle"></div>
        <div class="burger-brick"></div>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

